body {
    font-family: 'Sen', sans-serif;
    background: #e0301e;
    text-align: center;
    color: #09051e;
}

#wrapper {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 10px #000000;
}

/* #title-wrapper {
    text-align: center;
    background-color: 
} */

.fa-reddit {
    color: #24262f;
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}

#notes {
    float: right;
    width: 30%;
    padding-right: 30px;
}

textarea,
input {
    display: block;
    width: 100%;
    background-color:#eb8c00;
    border-radius: 7px;
    padding: 10px;
}

input {
    height: 36px;
    font-size: 24px;
    outline: none;
}

textarea {
    height: 200px;
    font-size: 18px;
}

button {
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: #efefef 3px;
    outline: none;
}