body {
    font-family: 'Sen', sans-serif;
    background: #e0301e;
    text-align: center;
    color: #09051e;
}

#wrapper {
    width: 1170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 30px #eb8c00;
}

.fa-reddit {
    color: #09051e;
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 50%;
    height: 500px;
    padding: 20px;
}

#notes {
    float: right;
    width: 30%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

textarea,
input {
    display: block;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #eb8c00;
    padding: 10px;
    font-family: 'Sen', sans-serif;
    margin: 10px;
}

input {
    height: 20px;
    font-size: 18px;
    outline: none;
    
}

textarea {
    height: 200px;
    font-size: 18px;
}

button {
    font-family: 'Sen', sans-serif;
    color: #ffffff;
    background-color: #24262f;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: #efefef 3px;
    outline: none;
}

button:hover {
    color: #ffffff;
    background-color: #25363e;
}